In [4]:
import sqlite3

# 连接到 SQLite 数据库文件
conn = sqlite3.connect('/user_data/WebStockPredict/db.sqlite3')

# 创建一个游标对象
cursor = conn.cursor()

cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")

# 获取表名列表
table_names = cursor.fetchall()

# 打印表名
for name in table_names:
    print(name[0])
# 执行 SQL 查询
cursor.execute("SELECT * FROM stock_predict_company")

# 获取所有行数据
rows = cursor.fetchall()

# 打印数据
for row in rows:
    print(row)

# 关闭游标和连接
cursor.close()
conn.close()

django_migrations
sqlite_sequence
auth_group
auth_group_permissions
auth_user_groups
auth_user_user_permissions
django_admin_log
django_content_type
auth_permission
auth_user
django_session
stock_predict_company
stock_predict_historydata
stock_predict_predictdata
stock_predict_stockindex
(1, '600718', '东软集团')
(2, '000651', '格力电器')
(3, '600839', '四川长虹')
(4, '600320', '振华重工')
(5, '601988', '中国银行')
(6, '000066', '中国长城')
(7, '601766', '中国中车')
(8, '601390', '中国中铁')
(9, '000768', '中航飞机')
(10, '000063', '中兴通讯')
(11, '0050', '台灣50')

In [ ]:
now = datetime.now()
end_date = single.get_data()[-1][0]
end_date = dt.strptime(end_date,"%Y-%m-%d")

In [10]:
date_str = "112/10/02"
parts = date_str.split('/')
year = str(int(parts[0]) + 1911)
formatted_date = year + parts[1] + parts[2]
print(formatted_date)

20231002

In [ ]:
pd.read_csv('/user_data/WebStockPredict/LSTMPredictStock/data/0050.csv')

In [3]:
from datetime import datetime, timedelta

# 获取当前日期
date_for_search = datetime.now()

# 创建一个空列表以存储日期
date_list = []

# 生成过去的6个月的日期
for i in range(6):
    date_list.append(date_for_search.strftime('%Y%m%d'))
    # 计算前一个月的日期
    date_for_search -= timedelta(days=date_for_search.day)
    date_for_search = date_for_search.replace(day=25)

# 打印日期列表
for date in date_list:
    print(date)

20231025
20230925
20230825
20230725
20230625
20230525

In [8]:
import json
import os
import requests
import pandas as pd
from datetime import datetime,timedelta

date_for_search_PRE = datetime.now()
Code = '0050'
total_df = pd.DataFrame()
for i in range(6):
    date_for_search = date_for_search_PRE.strftime('%Y%m%d')

    html = requests.get('https://www.twse.com.tw/exchangeReport/STOCK_DAY?response=json&date=%s&stockNo=%s' % (date_for_search, Code))
    content = json.loads(html.text)
    Name = content['title']
    stock_data = content['data']
    col_name = content['fields']
    month_df = pd.DataFrame(data=stock_data, columns=col_name)
    month_df = month_df.rename(columns={
        "日期": "Date",
        "成交股數": "Volume",
        "成交金額": "Turnover",
        "開盤價": "Open",
        "最高價": "High",
        "最低價": "Low",
        "收盤價": "Close",
        "漲跌價差": "Price Change",
        "成交筆數": "Transactions"
    })
    month_df["Name"] = "元大台灣50"
    month_df["Code"] = "0050"
    month_df = month_df[["Date", "Code", "Name", "Open", "Close", "High", "Low", "Volume"]]

    total_df = pd.concat([total_df, month_df])
    date_for_search_PRE -= timedelta(days=date_for_search_PRE.day)
    date_for_search_PRE = date_for_search_PRE.replace(day=25)
    

#轉換Date格式。原本的為112/10/02轉成20231002
def convert_date(date_str):
        parts = date_str.split('/')
        year = str(int(parts[0]) + 1911)
        formatted_date = year + '-' + parts[1] + '-' + parts[2]
        return formatted_date
def convert_code(code_int):
    formated_code = "'"+str(code_int)
    return formated_code
def convert_volume(volume_str):
    formated_volume = int(volume_str.replace(",", ""))
    return formated_volume
total_df['Date'] = total_df['Date'].apply(convert_date)
total_df['Code'] = total_df['Code'].apply(convert_code)
total_df['Volume'] = total_df['Volume'].apply(convert_volume)
    
total_df

          Date   Code    Name    Open   Close    High     Low    Volume
0   2023-10-02  '0050  元大台灣50  123.60  124.25  124.50  123.60   6751292
1   2023-10-03  '0050  元大台灣50  123.95  123.50  124.15  123.45   5464302
2   2023-10-04  '0050  元大台灣50  122.10  121.90  122.20  121.35  12322148
3   2023-10-05  '0050  元大台灣50  122.40  123.65  123.65  122.40   4410768
4   2023-10-06  '0050  元大台灣50  123.80  124.10  124.30  123.80   5059285
5   2023-10-11  '0050  元大台灣50  125.90  126.25  126.40  125.85  14193410
6   2023-10-12  '0050  元大台灣50  126.50  127.30  127.35  126.30  14896995
7   2023-10-13  '0050  元大台灣50  127.00  126.95  127.40  126.50   6625556
8   2023-10-16  '0050  元大台灣50  126.30  126.25  126.30  125.70   8160811
9   2023-10-17  '0050  元大台灣50  126.70  126.55  127.00  126.40   7017073
10  2023-10-18  '0050  元大台灣50  126.25  124.80  126.25  124.80  10455744
11  2023-10-19  '0050  元大台灣50  124.40  124.85  125.20  124.40   8052218
12  2023-10-20  '0050  元大台灣50  124.75  125.40  125.45  123.90   4697636
13  2023-10-23  '0050  元大台灣50  124.85  123.85  124.85  123.55   8728531
14  2023-10-24  '0050  元大台灣50  123.80  123.95  123.95  122.70   7671925
15  2023-10-25  '0050  元大台灣50  124.20  124.20  124.90  124.20   3951000
0   2023-09-01  '0050  元大台灣50  125.50  125.90  126.30  125.10   3298119
1   2023-09-04  '0050  元大台灣50  125.90  126.75  126.80  125.60   3707169
2   2023-09-05  '0050  元大台灣50  126.55  126.45  126.60  126.05   3941418
3   2023-09-06  '0050  元大台灣50  126.60  126.00  126.70  125.85   7625626
4   2023-09-07  '0050  元大台灣50  125.30  124.85  125.50  124.70   6411794
5   2023-09-08  '0050  元大台灣50  124.10  124.30  124.50  123.85   6199055
6   2023-09-11  '0050  元大台灣50  124.45  123.80  124.50  123.40   9428969
7   2023-09-12  '0050  元大台灣50  124.10  125.05  125.05  123.85   2805462
8   2023-09-13  '0050  元大台灣50  125.20  125.20  125.60  124.70   3406028
9   2023-09-14  '0050  元大台灣50  125.90  126.95  126.95  125.55   7617917
10  2023-09-15  '0050  元大台灣50  127.00  127.35  127.35  126.75   6105752
11  2023-09-18  '0050  元大台灣50  126.60  126.00  126.60  125.85   7560656
12  2023-09-19  '0050  元大台灣50  125.85  125.45  126.05  125.35   4357933
13  2023-09-20  '0050  元大台灣50  125.05  124.75  125.20  124.50   6502123
..         ...    ...     ...     ...     ...     ...     ...       ...
12  2023-06-19  '0050  元大台灣50  130.95  131.25  131.50  130.55   6339672
13  2023-06-20  '0050  元大台灣50  131.10  130.55  131.25  130.35   6966617
14  2023-06-21  '0050  元大台灣50  130.55  130.55  131.05  130.25  26907844
15  2023-06-26  '0050  元大台灣50  130.35  129.75  130.35  129.40   7961459
16  2023-06-27  '0050  元大台灣50  129.15  128.90  129.55  128.70   7065960
17  2023-06-28  '0050  元大台灣50  129.35  129.10  129.70  128.80   5943784
18  2023-06-29  '0050  元大台灣50  129.75  129.05  130.50  128.90   6037292
19  2023-06-30  '0050  元大台灣50  128.80  129.10  129.10  128.30   7504016
0   2023-05-02  '0050  元大台灣50  117.45  117.70  118.00  117.10   5572977
1   2023-05-03  '0050  元大台灣50  117.35  117.20  117.35  116.80   4652271
2   2023-05-04  '0050  元大台灣50  117.00  117.50  117.50  116.70   3888293
3   2023-05-05  '0050  元大台灣50  117.70  117.80  118.05  117.40   2550129
4   2023-05-08  '0050  元大台灣50  118.50  118.55  118.90  118.35   6287398
5   2023-05-09  '0050  元大台灣50  118.60  118.90  119.00  118.30   4828179
6   2023-05-10  '0050  元大台灣50  118.80  117.80  118.80  117.65   4685154
7   2023-05-11  '0050  元大台灣50  118.25  117.55  118.45  117.55   4031551
8   2023-05-12  '0050  元大台灣50  117.15  117.20  117.50  116.75   4251764
9   2023-05-15  '0050  元大台灣50  116.95  117.20  117.35  116.65   4584892
10  2023-05-16  '0050  元大台灣50  117.90  118.60  119.00  117.85   8154133
11  2023-05-17  '0050  元大台灣50  118.65  120.55  120.70  118.65  26759613
12  2023-05-18  '0050  元大台灣50  121.80  122.15  122.40  121.60  23085737
13  2023-05-19  '0050  元大台灣50  122.60  122.50  122.85  122.20  34913145
14  2023-05-22  '0050  元大台灣50  122.50  122.30  122.65  122.10  18271130
15  2023-05-23  '0050  元大台灣50  122.30  122.20  122.65  121.80  12550223
16  2023-05-24  '0050  元大台灣50  121.65  121.60  121.80  121.10  11115015
17  2023-05-25  '0050  元大台灣50  123.00  123.05  123.40  122.45  12032587
18  2023-05-26  '0050  元大台灣50  125.00  125.95  126.05  125.00  25082491
19  2023-05-29  '0050  元大台灣50  127.45  126.75  127.55  126.50  15208057
20  2023-05-30  '0050  元大台灣50  126.75  126.75  127.05  126.45  12627196
21  2023-05-31  '0050  元大台灣50  126.70  126.15  126.70  125.15   9229280

[121 rows x 8 columns]

In [5]:
import json
import os
import requests
import pandas as pd
from datetime import datetime,timedelta

current_date = datetime.now()
first_day_of_current_month = current_date.replace(day=1)

last_month = current_date - timedelta(days=current_date.day)
first_day_of_last_month = last_month.replace(day=1)

current_month_date = first_day_of_current_month.strftime("%Y%m%d")
last_month_date = first_day_of_last_month.strftime("%Y%m%d")

Code = '0050'

html = requests.get('https://www.twse.com.tw/exchangeReport/STOCK_DAY?response=json&date=%s&stockNo=%s' % (last_month_date, Code))
content = json.loads(html.text)
Name = content['title']
stock_data = content['data']
col_name = content['fields']
last_month_df = pd.DataFrame(data=stock_data, columns=col_name)
last_month_df = last_month_df.rename(columns={
    "日期": "Date",
    "成交股數": "Volume",
    "成交金額": "Turnover",
    "開盤價": "Open",
    "最高價": "High",
    "最低價": "Low",
    "收盤價": "Close",
    "漲跌價差": "Price Change",
    "成交筆數": "Transactions"
})
last_month_df["Name"] = "元大台灣50"
last_month_df["Code"] = "0050"
last_month_df = last_month_df[["Date", "Code", "Name", "Open", "Close", "High", "Low", "Volume"]]

html = requests.get('https://www.twse.com.tw/exchangeReport/STOCK_DAY?response=json&date=%s&stockNo=%s' % (current_month_date, Code))
content = json.loads(html.text)
Name = content['title']
stock_data = content['data']
col_name = content['fields']
current_month_df = pd.DataFrame(data=stock_data, columns=col_name)
current_month_df = current_month_df.rename(columns={
    "日期": "Date",
    "成交股數": "Volume",
    "成交金額": "Turnover",
    "開盤價": "Open",
    "最高價": "High",
    "最低價": "Low",
    "收盤價": "Close",
    "漲跌價差": "Price Change",
    "成交筆數": "Transactions"
})
current_month_df["Name"] = "元大台灣50"
current_month_df["Code"] = "0050"
current_month_df = current_month_df[["Date", "Code", "Name", "Open", "Close", "High", "Low", "Volume"]]

current_month_AND_last_month_df = pd.concat([current_month_df, last_month_df])

#轉換Date格式。原本的為112/10/02轉成20231002
def convert_date(date_str):
        parts = date_str.split('/')
        year = str(int(parts[0]) + 1911)
        formatted_date = year + '-' + parts[1] + '-' + parts[2]
        return formatted_date
def convert_code(code_int):
    formated_code = "'"+str(code_int)
    return formated_code
def convert_volume(volume_str):
    formated_volume = int(volume_str.replace(",", ""))
    return formated_volume
current_month_AND_last_month_df['Date'] = current_month_AND_last_month_df['Date'].apply(convert_date)
current_month_AND_last_month_df['Code'] = current_month_AND_last_month_df['Code'].apply(convert_code)
current_month_AND_last_month_df['Volume'] = current_month_AND_last_month_df['Volume'].apply(convert_volume)
    
current_month_AND_last_month_df

          Date   Code    Name    Open   Close    High     Low    Volume
0   2023-10-02  '0050  元大台灣50  123.60  124.25  124.50  123.60   6751292
1   2023-10-03  '0050  元大台灣50  123.95  123.50  124.15  123.45   5464302
2   2023-10-04  '0050  元大台灣50  122.10  121.90  122.20  121.35  12322148
3   2023-10-05  '0050  元大台灣50  122.40  123.65  123.65  122.40   4410768
4   2023-10-06  '0050  元大台灣50  123.80  124.10  124.30  123.80   5059285
5   2023-10-11  '0050  元大台灣50  125.90  126.25  126.40  125.85  14193410
6   2023-10-12  '0050  元大台灣50  126.50  127.30  127.35  126.30  14896995
7   2023-10-13  '0050  元大台灣50  127.00  126.95  127.40  126.50   6625556
8   2023-10-16  '0050  元大台灣50  126.30  126.25  126.30  125.70   8160811
9   2023-10-17  '0050  元大台灣50  126.70  126.55  127.00  126.40   7017073
10  2023-10-18  '0050  元大台灣50  126.25  124.80  126.25  124.80  10455744
11  2023-10-19  '0050  元大台灣50  124.40  124.85  125.20  124.40   8052218
12  2023-10-20  '0050  元大台灣50  124.75  125.40  125.45  123.90   4697636
13  2023-10-23  '0050  元大台灣50  124.85  123.85  124.85  123.55   8728531
14  2023-10-24  '0050  元大台灣50  123.80  123.95  123.95  122.70   7671925
15  2023-10-25  '0050  元大台灣50  124.20  124.20  124.90  124.20   3951000
0   2023-09-01  '0050  元大台灣50  125.50  125.90  126.30  125.10   3298119
1   2023-09-04  '0050  元大台灣50  125.90  126.75  126.80  125.60   3707169
2   2023-09-05  '0050  元大台灣50  126.55  126.45  126.60  126.05   3941418
3   2023-09-06  '0050  元大台灣50  126.60  126.00  126.70  125.85   7625626
4   2023-09-07  '0050  元大台灣50  125.30  124.85  125.50  124.70   6411794
5   2023-09-08  '0050  元大台灣50  124.10  124.30  124.50  123.85   6199055
6   2023-09-11  '0050  元大台灣50  124.45  123.80  124.50  123.40   9428969
7   2023-09-12  '0050  元大台灣50  124.10  125.05  125.05  123.85   2805462
8   2023-09-13  '0050  元大台灣50  125.20  125.20  125.60  124.70   3406028
9   2023-09-14  '0050  元大台灣50  125.90  126.95  126.95  125.55   7617917
10  2023-09-15  '0050  元大台灣50  127.00  127.35  127.35  126.75   6105752
11  2023-09-18  '0050  元大台灣50  126.60  126.00  126.60  125.85   7560656
12  2023-09-19  '0050  元大台灣50  125.85  125.45  126.05  125.35   4357933
13  2023-09-20  '0050  元大台灣50  125.05  124.75  125.20  124.50   6502123
14  2023-09-21  '0050  元大台灣50  123.80  122.75  123.85  122.65  23194776
15  2023-09-22  '0050  元大台灣50  122.45  122.65  122.80  122.05  10344025
16  2023-09-25  '0050  元大台灣50  122.75  123.55  123.75  122.75   4337416
17  2023-09-26  '0050  元大台灣50  122.65  122.10  123.00  122.00  11388965
18  2023-09-27  '0050  元大台灣50  121.85  122.15  122.30  121.55   7068444
19  2023-09-28  '0050  元大台灣50  122.75  122.65  123.15  122.05   5881478