In [11]:
import sqlite3

# 连接到 SQLite 数据库文件
conn = sqlite3.connect('/user_data/WebStockPredict/db.sqlite3')

# 创建一个游标对象
cursor = conn.cursor()

cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")

# 获取表名列表
table_names = cursor.fetchall()

# 打印表名
for name in table_names:
    print(name[0])
# 执行 SQL 查询
cursor.execute("SELECT * FROM stock_predict_company")

# 获取所有行数据
rows = cursor.fetchall()

# 打印数据
for row in rows:
    print(row)

# 关闭游标和连接
cursor.close()
conn.close()

django_migrations
sqlite_sequence
auth_group
auth_group_permissions
auth_user_groups
auth_user_user_permissions
django_admin_log
django_content_type
auth_permission
auth_user
django_session
stock_predict_company
stock_predict_historydata
stock_predict_predictdata
stock_predict_stockindex
(1, '2308', '台達電')
(2, '2317', '鴻\u3000海')
(3, '2327', '國\u3000巨')
(4, '2330', '台積電')
(5, '2345', '智\u3000邦')
(6, '2352', '佳世達')
(7, '2357', '華\u3000碩')
(8, '2379', '瑞\u3000昱')
(9, '2382', '廣\u3000達')
(10, '2395', '研\u3000華')
(11, '2408', '南亞科')
(12, '2412', '中華電')
(13, '2454', '聯發科')
(14, '2603', '長\u3000榮')
(15, '2610', '華\u3000航')
(16, '2801', '彰\u3000銀')
(17, '2880', '華南金')
(18, '2881', '富邦金')
(19, '2882', '國泰金')

In [3]:
float("1,200.00".replace(',', ''))

1200.0

In [1]:
import pandas as pd
a =pd.read_csv('/user_data/WebStockPredict/LSTMPredictStock/data/0050.csv')

a[-20:]

           Date   Code    Name    Open   Close    High     Low    Volume
194  2023-09-25  '0050  元大台灣50  122.75  123.55  123.75  122.75   4337416
195  2023-09-26  '0050  元大台灣50  122.65  122.10  123.00  122.00  11388965
196  2023-09-27  '0050  元大台灣50  121.85  122.15  122.30  121.55   7068444
197  2023-09-28  '0050  元大台灣50  122.75  122.65  123.15  122.05   5881478
198  2023-10-02  '0050  元大台灣50  123.60  124.25  124.50  123.60   6751292
199  2023-10-03  '0050  元大台灣50  123.95  123.50  124.15  123.45   5464302
200  2023-10-04  '0050  元大台灣50  122.10  121.90  122.20  121.35  12322148
201  2023-10-05  '0050  元大台灣50  122.40  123.65  123.65  122.40   4410768
202  2023-10-06  '0050  元大台灣50  123.80  124.10  124.30  123.80   5059285
203  2023-10-11  '0050  元大台灣50  125.90  126.25  126.40  125.85  14193410
204  2023-10-12  '0050  元大台灣50  126.50  127.30  127.35  126.30  14896995
205  2023-10-13  '0050  元大台灣50  127.00  126.95  127.40  126.50   6625556
206  2023-10-16  '0050  元大台灣50  126.30  126.25  126.30  125.70   8160811
207  2023-10-17  '0050  元大台灣50  126.70  126.55  127.00  126.40   7017073
208  2023-10-18  '0050  元大台灣50  126.25  124.80  126.25  124.80  10455744
209  2023-10-19  '0050  元大台灣50  124.40  124.85  125.20  124.40   8052218
210  2023-10-20  '0050  元大台灣50  124.75  125.40  125.45  123.90   4697636
211  2023-10-23  '0050  元大台灣50  124.85  123.85  124.85  123.55   8728531
212  2023-10-24  '0050  元大台灣50  123.80  123.95  123.95  122.70   7671925
213  2023-10-25  '0050  元大台灣50  124.20  124.20  124.90  124.20   4229277

In [3]:
from datetime import datetime, timedelta

# 获取当前日期
date_for_search = datetime.now()

# 创建一个空列表以存储日期
date_list = []

# 生成过去的6个月的日期
for i in range(6):
    date_list.append(date_for_search.strftime('%Y%m%d'))
    # 计算前一个月的日期
    date_for_search -= timedelta(days=date_for_search.day)
    date_for_search = date_for_search.replace(day=25)

# 打印日期列表
for date in date_list:
    print(date)

20231025
20230925
20230825
20230725
20230625
20230525

'元大台灣50'

In [1]:
import json
import os
import requests
import pandas as pd
from datetime import datetime,timedelta

date_for_search_PRE = datetime.now()
Code = '3008'
total_df = pd.DataFrame()
for i in range(6):
    date_for_search = date_for_search_PRE.strftime('%Y%m%d')

    html = requests.get('https://www.twse.com.tw/exchangeReport/STOCK_DAY?response=json&date=%s&stockNo=%s' % (date_for_search, Code))
    content = json.loads(html.text)
    Name = content['title']
    stock_data = content['data']
    col_name = content['fields']
    month_df = pd.DataFrame(data=stock_data, columns=col_name)
    month_df = month_df.rename(columns={
        "日期": "Date",
        "成交股數": "Volume",
        "成交金額": "Turnover",
        "開盤價": "Open",
        "最高價": "High",
        "最低價": "Low",
        "收盤價": "Close",
        "漲跌價差": "Price Change",
        "成交筆數": "Transactions"
    })
    month_df["Name"] = "元大台灣50"
    month_df["Code"] = "0050"
    month_df = month_df[["Date", "Code", "Name", "Open", "Close", "High", "Low", "Volume"]]

    total_df = pd.concat([total_df, month_df])
    date_for_search_PRE -= timedelta(days=date_for_search_PRE.day)
    date_for_search_PRE = date_for_search_PRE.replace(day=25)
    

#轉換Date格式。原本的為112/10/02轉成20231002
def convert_date(date_str):
        parts = date_str.split('/')
        year = str(int(parts[0]) + 1911)
        formatted_date = year + '-' + parts[1] + '-' + parts[2]
        return formatted_date
def convert_code(code_int):
    formated_code = "'"+str(code_int)
    return formated_code
def convert_volume(volume_str):
    formated_volume = int(volume_str.replace(",", ""))
    return formated_volume
total_df['Date'] = total_df['Date'].apply(convert_date)
total_df['Code'] = total_df['Code'].apply(convert_code)
total_df['Volume'] = total_df['Volume'].apply(convert_volume)
    
total_df

          Date   Code    Name      Open     Close      High       Low   Volume
0   2023-10-02  '0050  元大台灣50  2,145.00  2,145.00  2,170.00  2,120.00   773401
1   2023-10-03  '0050  元大台灣50  2,130.00  2,140.00  2,165.00  2,130.00   607853
2   2023-10-04  '0050  元大台灣50  2,125.00  2,080.00  2,125.00  2,065.00   709121
3   2023-10-05  '0050  元大台灣50  2,100.00  2,120.00  2,135.00  2,095.00   577641
4   2023-10-06  '0050  元大台灣50  2,190.00  2,090.00  2,190.00  2,090.00  1017999
5   2023-10-11  '0050  元大台灣50  2,155.00  2,145.00  2,165.00  2,110.00   863698
6   2023-10-12  '0050  元大台灣50  2,135.00  2,150.00  2,160.00  2,105.00   771591
7   2023-10-13  '0050  元大台灣50  2,090.00  2,175.00  2,210.00  2,055.00  2450243
8   2023-10-16  '0050  元大台灣50  2,160.00  2,125.00  2,165.00  2,120.00   781404
9   2023-10-17  '0050  元大台灣50  2,145.00  2,095.00  2,145.00  2,095.00   538702
10  2023-10-18  '0050  元大台灣50  2,095.00  2,045.00  2,110.00  2,040.00   950327
11  2023-10-19  '0050  元大台灣50  2,045.00  2,040.00  2,060.00  2,025.00   539621
12  2023-10-20  '0050  元大台灣50  2,035.00  2,030.00  2,040.00  2,010.00   460640
13  2023-10-23  '0050  元大台灣50  2,050.00  2,015.00  2,050.00  2,010.00   287432
14  2023-10-24  '0050  元大台灣50  2,015.00  2,010.00  2,025.00  1,990.00   544425
15  2023-10-25  '0050  元大台灣50  2,010.00  2,010.00  2,020.00  2,005.00   294925
16  2023-10-26  '0050  元大台灣50  1,990.00  2,005.00  2,025.00  1,980.00   559943
0   2023-09-01  '0050  元大台灣50  2,060.00  2,060.00  2,070.00  2,045.00   273501
1   2023-09-04  '0050  元大台灣50  2,070.00  2,090.00  2,100.00  2,065.00   384382
2   2023-09-05  '0050  元大台灣50  2,150.00  2,165.00  2,205.00  2,130.00  1389991
3   2023-09-06  '0050  元大台灣50  2,180.00  2,120.00  2,185.00  2,120.00   680271
4   2023-09-07  '0050  元大台灣50  2,085.00  2,070.00  2,110.00  2,065.00   552093
5   2023-09-08  '0050  元大台灣50  2,045.00  1,985.00  2,045.00  1,985.00  1113242
6   2023-09-11  '0050  元大台灣50  1,995.00  2,000.00  2,035.00  1,995.00   643902
7   2023-09-12  '0050  元大台灣50  2,015.00  2,050.00  2,060.00  2,010.00   579254
8   2023-09-13  '0050  元大台灣50  2,045.00  2,015.00  2,050.00  2,005.00   682098
9   2023-09-14  '0050  元大台灣50  2,030.00  2,070.00  2,085.00  2,025.00   576885
10  2023-09-15  '0050  元大台灣50  2,080.00  2,080.00  2,085.00  2,050.00   761056
11  2023-09-18  '0050  元大台灣50  2,065.00  2,105.00  2,145.00  2,060.00  1126387
12  2023-09-19  '0050  元大台灣50  2,140.00  2,125.00  2,195.00  2,120.00  1011950
..         ...    ...     ...       ...       ...       ...       ...      ...
12  2023-06-19  '0050  元大台灣50  2,200.00  2,150.00  2,200.00  2,145.00   652821
13  2023-06-20  '0050  元大台灣50  2,155.00  2,160.00  2,180.00  2,135.00   484237
14  2023-06-21  '0050  元大台灣50  2,190.00  2,130.00  2,195.00  2,130.00   609523
15  2023-06-26  '0050  元大台灣50  2,135.00  2,130.00  2,160.00  2,125.00   370394
16  2023-06-27  '0050  元大台灣50  2,160.00  2,135.00  2,180.00  2,135.00   366102
17  2023-06-28  '0050  元大台灣50  2,160.00  2,135.00  2,170.00  2,135.00   239282
18  2023-06-29  '0050  元大台灣50  2,160.00  2,130.00  2,170.00  2,125.00   305464
19  2023-06-30  '0050  元大台灣50  2,125.00  2,130.00  2,150.00  2,110.00   520032
0   2023-05-02  '0050  元大台灣50  2,015.00  1,990.00  2,025.00  1,990.00   558137
1   2023-05-03  '0050  元大台灣50  1,985.00  2,000.00  2,000.00  1,965.00   702227
2   2023-05-04  '0050  元大台灣50  2,000.00  1,990.00  2,000.00  1,980.00   329136
3   2023-05-05  '0050  元大台灣50  2,010.00  1,975.00  2,010.00  1,975.00   495645
4   2023-05-08  '0050  元大台灣50  2,005.00  2,000.00  2,045.00  1,985.00   542150
5   2023-05-09  '0050  元大台灣50  2,010.00  2,015.00  2,025.00  1,995.00   408064
6   2023-05-10  '0050  元大台灣50  2,005.00  2,025.00  2,035.00  2,000.00   508743
7   2023-05-11  '0050  元大台灣50  2,035.00  2,075.00  2,095.00  2,035.00   909031
8   2023-05-12  '0050  元大台灣50  2,085.00  2,095.00  2,095.00  2,065.00   491381
9   2023-05-15  '0050  元大台灣50  2,095.00  2,110.00  2,120.00  2,090.00   501117
10  2023-05-16  '0050  元大台灣50  2,210.00  2,190.00  2,245.00  2,180.00  1658136
11  2023-05-17  '0050  元大台灣50  2,225.00  2,175.00  2,225.00  2,175.00   732881
12  2023-05-18  '0050  元大台灣50  2,200.00  2,210.00  2,220.00  2,195.00   568229
13  2023-05-19  '0050  元大台灣50  2,220.00  2,260.00  2,280.00  2,210.00   938598
14  2023-05-22  '0050  元大台灣50  2,260.00  2,225.00  2,280.00  2,225.00   404863
15  2023-05-23  '0050  元大台灣50  2,240.00  2,225.00  2,245.00  2,215.00   308701
16  2023-05-24  '0050  元大台灣50  2,225.00  2,235.00  2,245.00  2,210.00   285906
17  2023-05-25  '0050  元大台灣50  2,250.00  2,245.00  2,260.00  2,240.00   310203
18  2023-05-26  '0050  元大台灣50  2,255.00  2,220.00  2,270.00  2,200.00   513514
19  2023-05-29  '0050  元大台灣50  2,235.00  2,305.00  2,330.00  2,230.00   919741
20  2023-05-30  '0050  元大台灣50  2,310.00  2,255.00  2,310.00  2,255.00   522251
21  2023-05-31  '0050  元大台灣50  2,290.00  2,265.00  2,315.00  2,265.00   546757

[122 rows x 8 columns]

In [5]:
import json
import os
import requests
import pandas as pd
from datetime import datetime,timedelta

current_date = datetime.now()
first_day_of_current_month = current_date.replace(day=1)

last_month = current_date - timedelta(days=current_date.day)
first_day_of_last_month = last_month.replace(day=1)

current_month_date = first_day_of_current_month.strftime("%Y%m%d")
last_month_date = first_day_of_last_month.strftime("%Y%m%d")

Code = '0050'

html = requests.get('https://www.twse.com.tw/exchangeReport/STOCK_DAY?response=json&date=%s&stockNo=%s' % (last_month_date, Code))
content = json.loads(html.text)
Name = content['title']
stock_data = content['data']
col_name = content['fields']
last_month_df = pd.DataFrame(data=stock_data, columns=col_name)
last_month_df = last_month_df.rename(columns={
    "日期": "Date",
    "成交股數": "Volume",
    "成交金額": "Turnover",
    "開盤價": "Open",
    "最高價": "High",
    "最低價": "Low",
    "收盤價": "Close",
    "漲跌價差": "Price Change",
    "成交筆數": "Transactions"
})
last_month_df["Name"] = "元大台灣50"
last_month_df["Code"] = "0050"
last_month_df = last_month_df[["Date", "Code", "Name", "Open", "Close", "High", "Low", "Volume"]]

html = requests.get('https://www.twse.com.tw/exchangeReport/STOCK_DAY?response=json&date=%s&stockNo=%s' % (current_month_date, Code))
content = json.loads(html.text)
Name = content['title']
stock_data = content['data']
col_name = content['fields']
current_month_df = pd.DataFrame(data=stock_data, columns=col_name)
current_month_df = current_month_df.rename(columns={
    "日期": "Date",
    "成交股數": "Volume",
    "成交金額": "Turnover",
    "開盤價": "Open",
    "最高價": "High",
    "最低價": "Low",
    "收盤價": "Close",
    "漲跌價差": "Price Change",
    "成交筆數": "Transactions"
})
current_month_df["Name"] = "元大台灣50"
current_month_df["Code"] = "0050"
current_month_df = current_month_df[["Date", "Code", "Name", "Open", "Close", "High", "Low", "Volume"]]

current_month_AND_last_month_df = pd.concat([current_month_df, last_month_df])

#轉換Date格式。原本的為112/10/02轉成20231002
def convert_date(date_str):
        parts = date_str.split('/')
        year = str(int(parts[0]) + 1911)
        formatted_date = year + '-' + parts[1] + '-' + parts[2]
        return formatted_date
def convert_code(code_int):
    formated_code = "'"+str(code_int)
    return formated_code
def convert_volume(volume_str):
    formated_volume = int(volume_str.replace(",", ""))
    return formated_volume
current_month_AND_last_month_df['Date'] = current_month_AND_last_month_df['Date'].apply(convert_date)
current_month_AND_last_month_df['Code'] = current_month_AND_last_month_df['Code'].apply(convert_code)
current_month_AND_last_month_df['Volume'] = current_month_AND_last_month_df['Volume'].apply(convert_volume)
    
current_month_AND_last_month_df

          Date   Code    Name    Open   Close    High     Low    Volume
0   2023-10-02  '0050  元大台灣50  123.60  124.25  124.50  123.60   6751292
1   2023-10-03  '0050  元大台灣50  123.95  123.50  124.15  123.45   5464302
2   2023-10-04  '0050  元大台灣50  122.10  121.90  122.20  121.35  12322148
3   2023-10-05  '0050  元大台灣50  122.40  123.65  123.65  122.40   4410768
4   2023-10-06  '0050  元大台灣50  123.80  124.10  124.30  123.80   5059285
5   2023-10-11  '0050  元大台灣50  125.90  126.25  126.40  125.85  14193410
6   2023-10-12  '0050  元大台灣50  126.50  127.30  127.35  126.30  14896995
7   2023-10-13  '0050  元大台灣50  127.00  126.95  127.40  126.50   6625556
8   2023-10-16  '0050  元大台灣50  126.30  126.25  126.30  125.70   8160811
9   2023-10-17  '0050  元大台灣50  126.70  126.55  127.00  126.40   7017073
10  2023-10-18  '0050  元大台灣50  126.25  124.80  126.25  124.80  10455744
11  2023-10-19  '0050  元大台灣50  124.40  124.85  125.20  124.40   8052218
12  2023-10-20  '0050  元大台灣50  124.75  125.40  125.45  123.90   4697636
13  2023-10-23  '0050  元大台灣50  124.85  123.85  124.85  123.55   8728531
14  2023-10-24  '0050  元大台灣50  123.80  123.95  123.95  122.70   7671925
15  2023-10-25  '0050  元大台灣50  124.20  124.20  124.90  124.20   3951000
0   2023-09-01  '0050  元大台灣50  125.50  125.90  126.30  125.10   3298119
1   2023-09-04  '0050  元大台灣50  125.90  126.75  126.80  125.60   3707169
2   2023-09-05  '0050  元大台灣50  126.55  126.45  126.60  126.05   3941418
3   2023-09-06  '0050  元大台灣50  126.60  126.00  126.70  125.85   7625626
4   2023-09-07  '0050  元大台灣50  125.30  124.85  125.50  124.70   6411794
5   2023-09-08  '0050  元大台灣50  124.10  124.30  124.50  123.85   6199055
6   2023-09-11  '0050  元大台灣50  124.45  123.80  124.50  123.40   9428969
7   2023-09-12  '0050  元大台灣50  124.10  125.05  125.05  123.85   2805462
8   2023-09-13  '0050  元大台灣50  125.20  125.20  125.60  124.70   3406028
9   2023-09-14  '0050  元大台灣50  125.90  126.95  126.95  125.55   7617917
10  2023-09-15  '0050  元大台灣50  127.00  127.35  127.35  126.75   6105752
11  2023-09-18  '0050  元大台灣50  126.60  126.00  126.60  125.85   7560656
12  2023-09-19  '0050  元大台灣50  125.85  125.45  126.05  125.35   4357933
13  2023-09-20  '0050  元大台灣50  125.05  124.75  125.20  124.50   6502123
14  2023-09-21  '0050  元大台灣50  123.80  122.75  123.85  122.65  23194776
15  2023-09-22  '0050  元大台灣50  122.45  122.65  122.80  122.05  10344025
16  2023-09-25  '0050  元大台灣50  122.75  123.55  123.75  122.75   4337416
17  2023-09-26  '0050  元大台灣50  122.65  122.10  123.00  122.00  11388965
18  2023-09-27  '0050  元大台灣50  121.85  122.15  122.30  121.55   7068444
19  2023-09-28  '0050  元大台灣50  122.75  122.65  123.15  122.05   5881478