In [19]:
import json
import os
import requests
import pandas as pd
from datetime import datetime,timedelta

current_date = datetime.now()
first_day_of_current_month = current_date.replace(day=1)

last_month = current_date - timedelta(days=current_date.day)
first_day_of_last_month = last_month.replace(day=1)

current_month_date = first_day_of_current_month.strftime("%Y%m%d")
last_month_date = first_day_of_last_month.strftime("%Y%m%d")

Code = '0050'

html = requests.get('https://www.twse.com.tw/exchangeReport/STOCK_DAY?response=json&date=%s&stockNo=%s' % (last_month_date, Code))
content = json.loads(html.text)
Name = content['title']
stock_data = content['data']
col_name = content['fields']
last_month_df = pd.DataFrame(data=stock_data, columns=col_name)
last_month_df = last_month_df.rename(columns={
    "日期": "Date",
    "成交股數": "Volume",
    "成交金額": "Turnover",
    "開盤價": "Open",
    "最高價": "High",
    "最低價": "Low",
    "收盤價": "Close",
    "漲跌價差": "Price Change",
    "成交筆數": "Transactions"
})
last_month_df["Name"] = "元大台灣50"
last_month_df["Code"] = "0050"
last_month_df = last_month_df[["Date", "Code", "Name", "Open", "Close", "High", "Low", "Volume"]]

html = requests.get('https://www.twse.com.tw/exchangeReport/STOCK_DAY?response=json&date=%s&stockNo=%s' % (current_month_date, Code))
content = json.loads(html.text)
Name = content['title']
stock_data = content['data']
col_name = content['fields']
current_month_df = pd.DataFrame(data=stock_data, columns=col_name)
current_month_df = current_month_df.rename(columns={
    "日期": "Date",
    "成交股數": "Volume",
    "成交金額": "Turnover",
    "開盤價": "Open",
    "最高價": "High",
    "最低價": "Low",
    "收盤價": "Close",
    "漲跌價差": "Price Change",
    "成交筆數": "Transactions"
})
current_month_df["Name"] = "元大台灣50"
current_month_df["Code"] = "0050"
current_month_df = df[["Date", "Code", "Name", "Open", "Close", "High", "Low", "Volume"]]

current_month_AND_last_month_df = pd.concat([current_month_df, last_month_df])

current_month_AND_last_month_df

         Date  Code    Name    Open   Close    High     Low      Volume
0   112/10/02  0050  元大台灣50  123.60  124.25  124.50  123.60   6,751,292
1   112/10/03  0050  元大台灣50  123.95  123.50  124.15  123.45   5,464,302
2   112/10/04  0050  元大台灣50  122.10  121.90  122.20  121.35  12,322,148
3   112/10/05  0050  元大台灣50  122.40  123.65  123.65  122.40   4,410,768
4   112/10/06  0050  元大台灣50  123.80  124.10  124.30  123.80   5,059,285
5   112/10/11  0050  元大台灣50  125.90  126.25  126.40  125.85  14,193,410
6   112/10/12  0050  元大台灣50  126.50  127.30  127.35  126.30  14,896,995
7   112/10/13  0050  元大台灣50  127.00  126.95  127.40  126.50   6,625,556
8   112/10/16  0050  元大台灣50  126.30  126.25  126.30  125.70   8,160,811
9   112/10/17  0050  元大台灣50  126.70  126.55  127.00  126.40   7,017,073
10  112/10/18  0050  元大台灣50  126.25  124.80  126.25  124.80  10,455,744
11  112/10/19  0050  元大台灣50  124.40  124.85  125.20  124.40   8,052,218
12  112/10/20  0050  元大台灣50  124.75  125.40  125.45  123.90   4,697,636
13  112/10/23  0050  元大台灣50  124.85  123.85  124.85  123.55   8,728,531
0   112/09/01  0050  元大台灣50  125.50  125.90  126.30  125.10   3,298,119
1   112/09/04  0050  元大台灣50  125.90  126.75  126.80  125.60   3,707,169
2   112/09/05  0050  元大台灣50  126.55  126.45  126.60  126.05   3,941,418
3   112/09/06  0050  元大台灣50  126.60  126.00  126.70  125.85   7,625,626
4   112/09/07  0050  元大台灣50  125.30  124.85  125.50  124.70   6,411,794
5   112/09/08  0050  元大台灣50  124.10  124.30  124.50  123.85   6,199,055
6   112/09/11  0050  元大台灣50  124.45  123.80  124.50  123.40   9,428,969
7   112/09/12  0050  元大台灣50  124.10  125.05  125.05  123.85   2,805,462
8   112/09/13  0050  元大台灣50  125.20  125.20  125.60  124.70   3,406,028
9   112/09/14  0050  元大台灣50  125.90  126.95  126.95  125.55   7,617,917
10  112/09/15  0050  元大台灣50  127.00  127.35  127.35  126.75   6,105,752
11  112/09/18  0050  元大台灣50  126.60  126.00  126.60  125.85   7,560,656
12  112/09/19  0050  元大台灣50  125.85  125.45  126.05  125.35   4,357,933
13  112/09/20  0050  元大台灣50  125.05  124.75  125.20  124.50   6,502,123
14  112/09/21  0050  元大台灣50  123.80  122.75  123.85  122.65  23,194,776
15  112/09/22  0050  元大台灣50  122.45  122.65  122.80  122.05  10,344,025
16  112/09/25  0050  元大台灣50  122.75  123.55  123.75  122.75   4,337,416
17  112/09/26  0050  元大台灣50  122.65  122.10  123.00  122.00  11,388,965
18  112/09/27  0050  元大台灣50  121.85  122.15  122.30  121.55   7,068,444
19  112/09/28  0050  元大台灣50  122.75  122.65  123.15  122.05   5,881,478